<h2 mat-dialog-title>Edit Employee</h2>

<form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
  <mat-dialog-content
    class="mat-topography"
    *ngFor="let control of formControlNames"
  >
    <div class="row">
      <input type="hidden" formControlName="id" readonly />

      <label class="form-label">{{ control.label.split(' ')[1] }}</label>

      <mat-form-field class="mx-2" appearance="outline">
        <mat-label>{{ control.label }}</mat-label>
        <input matInput [formControlName]="control.fcName" />
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-center">
    <button class="btn btn-link" mat-dialog-close>Cancel</button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!employeeForm.valid"
      [mat-dialog-close]="employeeForm.value"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
