/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: blue;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container {
    color: black !important;
    background-color: white !important;
}

.mat-sort-header-container {
    display: flex;
    justify-content: center;
}